__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
dist/
build/
*.egg-info/
.pytest_cache/
.mypy_cache/

node_modules/
.DS_Store

voice-service/build/
web/dist/
backend/data/
backend/*.db
backend/*.db*
*.db
*.db*
*.sqlite
*.sqlite*
backend/.env
web/.env
ts3sdk/
ts_sdk_*.zip
TeamSpeak3-Client-*.run
